* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    border-bottom: 1px solid black;
    padding: 20px;
}

div h3 {
    display: inline;
    background-color: #00FF5E;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.description p {
    padding-bottom: 10px;
}

.steps ol {
    padding-bottom: 10px;
}

.everything {
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.intro {
    display:flex;
    border: 1px solid black;
    border-top: 0px;
}

.intro img {
    flex: 1;
}

.intro .ingredients {
    flex: 1;
    border-left: 1px solid black;
    padding-left: 10px;
}

.intro .ingredients .text {
    align-items: center;
}

.text ul {
    padding-left:20px
}

ol {
    padding-left: 50px;
}

.description {
    border: 1px solid black;
    border-top: 0px;
    padding-left: 10px;
}

.steps {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 10px;
}

footer {
    border: 1px solid black;

}

footer .footer-section {
    padding: 10px;
    border: 1px solid black;
}

#footer1 {
    display:flex;
    justify-content: space-around;
}

#msgmepls {
    text-decoration: none;
    color: black;
}

.footer-column {
    display: inline;
}

.footer-column {
    padding: left 100px;
}

.inner-column p {
    display:table;
}

.inner-column img {
    display:table;
}

.inner-column a {
    display:table;
}

#footer2 {
    display: flex;
    
}

#footer2 p {
    flex: 1;
    width:auto;
}

#footer2 a {
    text-decoration: none;
    color: black;
    border-left: 1px solid black;
    padding-left: 20px;
}

.social {
    flex: 1;    
    display: flex;
    justify-content: space-around;
}

.social a {
    display: flex;
    align-items: center;
}

.social img {
    flex: 1;
    width: 25px;
    height:25px;
    margin-left: 20px;
}

#footer2 a:hover {
    color: #00FF5E;
    font-weight: bold;
    border-left-color: #00FF5E;
    border-left-width: 4px;
}

.signature {
    display: flex;
}

.signature p {
    display: inline;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#signoff {
    color: #00FF5E;
    flex: 1;
}

::selection {
    background: #d5d5d5;
}

#fam {
    height: 40px;
}