* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    display:block;
    text-align: center;
    padding:20px;
}

nav {
    display:flex;
    flex-direction: column;
    height:calc(100vh);
}

nav section {
    flex:1 1 auto;
    display:flex;
}

.first-row a {
    flex:1;
    height:100%;
    border-top: 4px solid black;
}

.second-row a {
    flex:1;
    height:100%;
}

.butt{
    padding: 10px;
    text-align: center;
    flex: 1;
}

nav a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
}

nav a:hover {
    color:#00FF5E;
    font-weight: bold;
}

#lasagna {
    background-image: url("recipes/recipe-images/lasagna.jpeg");
    background-size: cover;
}

#pizza {
    background-image: url("recipes/recipe-images/pizza.jpeg");
    background-size: cover;
}

#calzone {
    background-image: url("recipes/recipe-images/calzone.jpeg");
    background-size: cover;
}

#bolognese {
    background-image: url("recipes/recipe-images/bolognese.jpeg");
    background-size: cover;
}

footer {
    border: 1px solid black;

}

footer section {
    padding: 10px;
    border: 1px solid black;
}

#footer2 {
    display: flex;
    
}

#footer2 p {
    flex: 1;
}

#footer2 a {
    text-decoration: none;
    color: black;
    border-left: 1px solid black;
    padding-left: 20px;
}

.social {
    flex: 1;    
    display: flex;
    justify-content: space-around;
}

.social a {
    display: flex;
    align-items: center;
}

.social img {
    flex: 1;
    width: 25px;
    height:25px;
    margin-left: 20px;
}

#footer2 a:hover {
    color: #00FF5E;
    font-weight: bold;
    border-left-color: #00FF5E;
    border-left-width: 4px;
}

.signature {
    display: flex;
}

.signature p {
    flex: 1;
    color: #00FF5E;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
}

::selection {
    background: #d5d5d5;
}